Repository saltstack/salt, pull requests merged in 2023-10, with the labels that each got.

#65178 [3006.x] Unskip the chocolatey tests on Windows
  tests/pytests/functional/states/test_chocolatey_1_2_1.py
  tests/pytests/functional/states/test_chocolatey_latest.py
Labels: test:full, test:coverage, Sulfur v3006.4

#65300 [3006.x] starter tests for salt.utils.cloud.
  tests/pytests/unit/utils/test_cloud.py
Labels: test:coverage

#65343 [3006.x] Add test for pillar.keys to increase code-coverage
  tests/pytests/unit/modules/test_pillar.py
Labels: test:coverage

#65368 [3006.x] Increase code coverage of aptpkg module
  tests/pytests/unit/modules/test_aptpkg.py
Labels: test:coverage

#65385 [3006.x] We need to install `pyzmq`, not `zeromq` when running the package tests
  noxfile.py
Labels: test:pkg

#65396 [3006.x] Exclude some un-executed lines in `salt/__init__.py` from coverage
  salt/__init__.py
Labels: test:coverage

#65413 [3006.x] Github is struggling with this much parallelism, it can't keep up.
  tools/ci.py
Labels: test:full, test:coverage, test:pkg

#65339 [code-coverage] [3006.x] Increase code coverage for salt/client/mixins.py
  tests/pytests/integration/client/test_runner.py
Labels: test:coverage
