Repository saltstack/salt, pull requests merged in 2024-09, with the labels that each got.

#66857 [3006.x]Manage symlinks after dirs and files
  changelog/64630.fixed.md
  salt/fileserver/roots.py
  salt/states/file.py
  tests/pytests/functional/states/file/test_recurse.py
  tests/pytests/unit/states/file/test_recurse.py
Labels: test:full

#66742 [master] Use --cachedir parameter for setting extension_modules with salt-call
  changelog/66742.fixed.md
  salt/cli/call.py
  salt/config/__init__.py
  tests/pytests/unit/cli/test_salt_call.py
Labels: test:full

#66908 [3006.x] Upgrade relenv to 0.17.2
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/scheduled.yml
  .github/workflows/staging.yml
  changelog/66858.fixed.md
  cicd/shared-gh-workflows-context.yml
Labels: test:full, test:os:all

#66930 [3007.x] Merge forward 3006.x into 3007.x
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/scheduled.yml
  .github/workflows/staging.yml
  .github/workflows/templates/nightly.yml.jinja
  changelog/66856.fixed.md
  changelog/66858.fixed.md
  cicd/shared-gh-workflows-context.yml
  salt/_logging/handlers.py
  salt/grains/core.py
  tests/pytests/unit/grains/test_core.py
Labels: test:full, test:pkg

#66510 [3006.x] Prevent using SyncWrapper with no reason
  salt/channel/server.py
Labels: test:full, test:os:all

#66788 [3007.x] Do no allow duplicate message ids
  salt/transport/tcp.py
Labels: test:core, test:slow, test:full
