Repository saltstack/salt, pull requests merged in 2024-04, with the labels that each got.

#66293 [3006.x] Windows needs more complex passwords. Use the auto generated one.
  tests/pytests/conftest.py
  tests/pytests/integration/client/conftest.py
  tests/pytests/integration/conftest.py
  tests/pytests/integration/netapi/test_ssh_client.py
  tests/pytests/integration/wheel/conftest.py
Labels: test:full

#66220 [master][Documentation] Fix documentation about unique id behavior
  changelog/66200.fixed
Labels: Documentation

#65245 [master] Fix the Windows Upgrade tests
  tests/support/pkg.py
Labels: test:pkg
