Repository saltstack/salt, pull requests merged in 2024-10, with the labels that each got.

#66945 [3006.x] Alter nightly and scheduled builds to skip-code-coverage true
  .github/workflows/nightly.yml
  .github/workflows/scheduled.yml
  .github/workflows/templates/nightly.yml.jinja
  .github/workflows/templates/scheduled.yml.jinja
Labels: test:coverage

#66969 [3007.x] Merge forward 3006.x into 3007.x
  .github/workflows/build-deps-ci-action.yml
  .github/workflows/build-docs.yml
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/scheduled.yml
  .github/workflows/staging.yml
  .github/workflows/templates/build-packages.yml.jinja
  .github/workflows/templates/ci.yml.jinja
  .github/workflows/templates/nightly.yml.jinja
  .github/workflows/templates/scheduled.yml.jinja
  .github/workflows/test-action-linux.yml
  .github/workflows/test-action-macos.yml
  .github/workflows/test-action-windows.yml
  .github/workflows/test-package-downloads-action.yml
  .github/workflows/test-packages-action-linux.yml
  .github/workflows/test-packages-action-macos.yml
  .github/workflows/test-packages-action-windows.yml
  changelog/66858.fixed.md
  changelog/66955.fixed.md
  cicd/shared-gh-workflows-context.yml
  salt/channel/server.py
  salt/grains/extra.py
  salt/modules/win_file.py
  tests/pytests/functional/states/file/test__check_directory_win.py
  tests/pytests/functional/states/file/test_directory_win.py
  tests/pytests/unit/grains/test_secure_boot.py
  tests/pytests/unit/modules/test_win_file.py
  tools/ci.py
  tools/vm.py
Labels: test:full, test:pkg, test:os:all

#67007 [3006.x] Disable gatekeeper before running package tests
  .github/workflows/test-packages-action-macos.yml
Labels: test:pkg

#67009 [3006.x] Handle zombie processes when getting pids
  tests/pytests/pkg/downgrade/test_salt_downgrade.py
Labels: test:pkg
