Repository saltstack/salt, pull requests merged in 2024-07, with the labels that each got.

#66618 [3006.x] Detect existing VC Build Tools on GitHub runners
  pkg/windows/install_vs_buildtools.ps1
Labels: test:pkg

#66690 [3006.x] Fix relative file_roots paths
  changelog/66588.fixed.md
  salt/utils/verify.py
  tests/pytests/unit/fileserver/test_roots.py
  tests/pytests/unit/utils/verify/test_clean_path.py
Labels: test:full

#66734 [3006.x] Fix win_dsc tests
  salt/modules/cmdmod.py
Labels: test:slow, test:full

#66736 [3006.x] Test check_version fix
  tests/pytests/pkg/integration/test_version.py
Labels: test:pkg, test:os:all

#66738 [3006.x] Accept 2 as a valid exitcode for the nsis installer
  tests/pytests/pkg/download/test_pkg_download.py
Labels: test:pkg, test:os:all

#66743 [3006.x] Replace use of pygit2 deprecated and removed (1.15.0) oid with id
  salt/utils/gitfs.py
Labels: test:slow, test:full, test:pkg, test:os:all
