Repository saltstack/salt, pull requests merged in 2024-06, with the labels that each got.

#66625 [3006.x] Drop CentOS 7 support, and build RPM packages with Rocky Linux 9 container
  .github/workflows/build-packages.yml
  .github/workflows/ci.yml
  .github/workflows/lint-action.yml
  .github/workflows/nightly.yml
  .github/workflows/scheduled.yml
  .github/workflows/staging.yml
  changelog/66623.deprecated.md
  changelog/66624.added.md
  changelog/66624.deprecated.md
  cicd/golden-images.json
  tools/ci.py
  tools/pkg/repo/create.py
  tools/precommit/workflows.py
  tools/utils/gh.py
Labels: test:pkg

#66642 [3006.x] Replace expired pubkey for security reporting
  SECURITY.md
  doc/security/index.rst
Labels: Documentation, doc-correction

#66643 [3006.x] Use older Linux OS for wider CI deps compatibility
  tools/ci.py
Labels: test:full, test:os:all

#66650 [3006.x] Skip package meta tests on old rpm cli versions
  tests/pytests/pkg/integration/test_pkg_meta.py
Labels: test:pkg, test:os:all

#66033 [3006.x][BACKPORT] Fix utf8 handling in 'pass' renderer and make it more robust #64300
  changelog/64300.fixed.md
  salt/renderers/pass.py
  tests/pytests/unit/renderers/test_pass.py
Labels: test:full

#66655 [3006.x] [docs] Add note to virtualenv state docs about onedir
  salt/states/virtualenv_mod.py
Labels: Documentation

#66656 [3006.x] [docs] Add documentation about Salt's master packge user
  doc/ref/configuration/master.rst
Labels: Documentation

#66678 [3006.x] Upgrade relenv to 0.17.0
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/scheduled.yml
  .github/workflows/staging.yml
  changelog/66663.fixed.md
  cicd/shared-gh-workflows-context.yml
Labels: test:os:all
