Repository saltstack/salt, pull requests merged in 2024-08, with the labels that each got.

#66770 [3006.x] The profile outputter does not crash with incorrectly formatted data
  changelog/65104.fixed.md
  salt/output/profile.py
  tests/pytests/unit/output/test_profile.py
Labels: test:full

#66758 [3006.x] Fix batch mode hang indefinitely in some scenarios
  changelog/66249.fixed.md
  salt/cli/batch.py
Labels: test:slow, test:full, test:pkg, test:os:all

#66820 [3006.x] Adjust timeout from 2 to 2 & 1/2 hours for MacOS package tests
  .github/workflows/test-packages-action-macos.yml
Labels: test:slow, test:full, test:pkg, test:os:all

#66850 [3006.x] Update old Slack Community links with Discord links
  README.rst
Labels: doc-rework

#66769 [3006.x] Replace Slack with Discord
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/tech-debt.md
  .github/config.yml
  CONTRIBUTING.rst
  README.rst
  SUPPORT.rst
  doc/_incl/requisite_incl.rst
  doc/conf.py
  doc/security/index.rst
  doc/topics/development/conventions/formulas.rst
  doc/topics/development/conventions/release.rst
  doc/topics/tutorials/states_pt4.rst
Labels: doc-correction
