Repository saltstack/salt, pull requests merged in 2025-06, with the labels that each got.

#68098 Skip zcbuildout tests
  tests/unit/states/test_zcbuildout.py
Labels: test:full

#68057 3006.x: logging regression: fix loglines/findCaller introspection
  changelog/68057.fixed.md
  salt/_logging/impl.py
Labels: test:full

#68089 [3006.x] Fix checking of non-url style git remotes
  changelog/68069.fixed.md
  salt/utils/gitfs.py
  tests/pytests/unit/utils/test_gitfs.py
Labels: test:full

#67966 Workaround for Pillar payload signature error
  changelog/62318.fixed.md
  salt/channel/client.py
  tests/pytests/unit/transport/test_zeromq.py
Labels: test:full

#68077 Update bootstrap URLs quickstart.rst
  doc/topics/tutorials/quickstart.rst
Labels: test:full, test:os:all

#67779 Remove extra space in process title
  salt/utils/process.py
Labels: Needs-Testcase, needs-changelog-file, test:full

#61962 Update multimaster_pki.rst
  doc/topics/tutorials/multimaster_pki.rst
Labels: test:full

#65120 [master][DOCS] Add TOC to improve organization for file state module
  salt/states/file.py
Labels: test:full

#67066 Repair fstab_present test mode
  changelog/67065.fixed.md
  salt/states/mount.py
  tests/pytests/unit/states/test_mount.py
Labels: test:full

#67121 Fix 67120 - Fix order list and order first clash
  changelog/67120.fixed.md
  salt/utils/requisite.py
  tests/pytests/functional/modules/state/requisites/test_require.py
  tests/pytests/unit/utils/requisite/test_dependency_graph.py
Labels: test:full

#65743 [master] Simplify timezone.compare_zone to primarily rely get_zone()
  changelog/65719.fixed.md
  salt/modules/timezone.py
  tests/pytests/unit/modules/test_timezone.py
Labels: test:full

#66326 [master] Fix shell.KEY_VALID_RE to match host authenticity message. Fixes #62782
  changelog/62782.fixed.md
  salt/client/ssh/shell.py
  tests/pytests/unit/client/ssh/test_shell.py
Labels: test:full

#66998 [master] [Doc change] suggest "salt-pip install pyvmomi" to install dependency
  doc/topics/cloud/vmware.rst
Labels: Documentation, doc-correction

#66761 [master] Fix some minor typos
  tests/pytests/unit/grains/test_core.py
Labels: test:full

#65297 [3006.x] Add coverage contexts to show what tests touch which files
  .coveragerc
Labels: test:full, test:coverage
